<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="litvinenko_tab" translate="label" sortOrder="500">
            <label>Litv. Page Counter</label>
        </tab>
        <section id="page_counter" sortOrder="10" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Page Counter</label>
            <tab>litvinenko_tab</tab>
            <resource>Litvinenko_PageCounter::page_counter_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable/disable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment><![CDATA[Keep this enabled for counting CMS Page view.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
